h1.card-header {
    text-align: center;
    color: #f5f0f0; 
    padding: 20px 0; 
    margin-bottom: 20px; 
    border-radius: 8px;
}


.game-board {
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    
}

.card {
    background-color: #f1f1f1;

    border-radius: 8px;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    width: 100px;  
    height: 100px;  
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: row;
    transition: transform 0.3s;
}

.card img {
    max-width: 90%; 
    max-height: 90%; 
}

.card.flipCard{
    background-color: #f1f1f1;
}
